<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".PlayerActivity"
            android:configChanges="uiMode|screenSize|smallestScreenSize|orientation|screenLayout|keyboard|keyboardHidden|navigation"
            android:exported="false"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.ZplexPlayer" />
    </application>

</manifest>
